server {
    listen 80;
    server_name {{ settings.domain }};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name {{ settings.domain }};
    listen 8080 ssl proxy_protocol;
    listen 8081 proxy_protocol;
    listen 8082 proxy_protocol;
    http2 on;

    set_real_ip_from 172.16.0.0/12;
    set_real_ip_from 192.168.0.0/16;
    set_real_ip_from 10.0.0.0/8;
    real_ip_header proxy_protocol;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
    ssl_session_timeout 1d;
    ssl_session_cache shared:VPNForgeSSL:10m;
    ssl_session_tickets off;
    ssl_certificate /etc/letsencrypt/live/{{ settings.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ settings.domain }}/privkey.pem;

{% include "nginx/_site.conf.j2" %}
}
